.main-container {
  display: block;
  width: 100%;
}
.header {
  text-align: center;
  padding: 20px;
}
.header h1 {
  color: indigo;
}
.resultWrapper {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}
